.navbar.is-primary .navbar-brand .navbar-link, .navbar.is-primary .navbar-brand>.navbar-item{
	color: black;
	font-weigth: bold;
}

.preview-img{
	height: auto;
	width: 100%;
}

.card-image{
    max-height: 200px;
    overflow: hidden;
}

[is_promoted="true"]{
	outline: 2px solid #FF6F00;
}